* {
	position: relative;
	margin: 0;
	padding: 0;
	scrollbar-color: rgb(35, 41, 48) rgb(23, 26, 31) ;
	font-family: Poppins,Arial;
	color: #fff;
}

body {
	background-color: hsl(218, 23%, 5%);
}

main {
	max-width: 1600px;
	left: 50%;
	transform: translateX(-50%);
}